.header__top-wrapper, .header__bottom-wrapper, .main__container {
  width: 68.04281%;
  margin: 0 auto; }

.header__top-wrapper::before, .header__bottom-wrapper::before, .header__top-wrapper::after, .header__bottom-wrapper::after {
  content: "";
  display: table;
  clear: both; }

@font-face {
  font-family: "CirceRounded";
  font-weight: normal;
  src: url(../fonts/CircleRoundedRegular.woff2); }

@font-face {
  font-family: "CirceRounded";
  font-weight: bold;
  src: url(../fonts/CircleRoundedBold.woff2); }

html {
  font-family: "CirceRounded", sans-serif;
  font-size: 62.5%;
  line-height: 1.2;
  color: #000; }

body {
  width: 100%;
  min-width: 1962px;
  font-size: 1.8rem; }

a {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.page-title {
  margin: 0;
  margin-right: 3rem;
  font-size: 5.5rem;
  font-weight: normal;
  color: #00aabe; }

.btn {
  display: inline-block;
  margin-bottom: 4rem;
  padding: .8rem 2.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  background-color: #f0505a;
  border-radius: 2.5rem; }

.header {
  width: 100%;
  margin-bottom: 4.5rem;
  font-size: 2rem;
  -webkit-box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.15); }

.header__top {
  margin-left: -4.60993%;
  padding: 2.5rem 0;
  color: #000;
  line-height: 7rem; }

.header__bottom {
  line-height: 4rem;
  background-color: #4cbaca; }

.logo-wrapper {
  width: 12.76596%;
  margin-right: 2.83688%;
  float: left; }

.logo__link {
  display: block; }

.logo__img {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: middle; }

.main-nav {
  width: 48.93617%;
  float: left; }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: bold; }

.main-nav__item-link {
  display: block;
  -webkit-transition: color .1s ease-in;
  -o-transition: color .1s ease-in;
  transition: color .1s ease-in; }
  .main-nav__item-link:hover {
    color: #08c0de; }

.main-nav__item-link_active {
  color: #08c0de; }
  .main-nav__item-link_active:hover {
    cursor: default; }

.account {
  float: right; }

.account__link {
  display: block; }
  .account__link::before {
    content: "";
    display: inline-block;
    width: 39px;
    height: 44px;
    margin-right: 2rem;
    vertical-align: middle;
    background: url("../img/spritesheet.png") -10px -10px; }
  .account__link::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 11px;
    margin-left: 1rem;
    vertical-align: middle;
    background: url("../img/spritesheet.png") -10px -74px; }

.account__name {
  vertical-align: middle;
  border-bottom: 0.1rem dotted #000; }

.profile-nav {
  width: 56.17978%;
  float: left; }

.profile-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: bold; }

.profile-nav__item-link {
  color: #fff; }

.profile__balance {
  width: 14.83146%;
  float: right;
  padding: 0 2rem;
  color: #fff;
  background-color: #00728f; }
  .profile__balance::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 26px;
    vertical-align: middle;
    background: url("../img/spritesheet.png") -69px -10px;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%); }

.profile__balance-info {
  margin-left: 1.3rem;
  font-size: 2.5rem; }

.main {
  width: 100%; }

.doctors-nav__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4rem; }

.doctors-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5rem; }

.doctors-nav__search {
  width: 30.86142%;
  position: relative;
  -webkit-transform: translateY(10%);
  -ms-transform: translateY(10%);
  transform: translateY(10%); }

.doctors-nav__search-input {
  width: 54.36893%;
  height: 4.7rem;
  padding: 0 2rem;
  padding-top: 1.4rem;
  padding-bottom: 1.7rem;
  font-size: 1.6rem;
  line-height: 4.7rem;
  background-color: #edf8fa;
  border: 0;
  border-radius: 2.5rem;
  -webkit-transition: width .3s linear;
  -o-transition: width .3s linear;
  transition: width .3s linear;
  cursor: pointer; }
  .doctors-nav__search-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #96bbc8; }
  .doctors-nav__search-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #96bbc8; }
  .doctors-nav__search-input:-ms-input-placeholder {
    /* IE 10+ */
    color: #96bbc8; }
  .doctors-nav__search-input:-moz-placeholder {
    /* Firefox 18- */
    color: #96bbc8; }
  .doctors-nav__search-input:focus {
    color: #000;
    outline: none; }

.doctors-nav__search-input_open {
  width: 100%;
  color: #000;
  outline: none; }

.doctors-nav__search-clear {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
  width: 4rem;
  height: 100%;
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer; }
  .doctors-nav__search-clear:focus {
    outline: none; }
  .doctors-nav__search-clear::before, .doctors-nav__search-clear::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 2rem;
    width: 16px;
    height: 1px;
    background-color: #00728f; }
  .doctors-nav__search-clear::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .doctors-nav__search-clear::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.doctors-nav__dropdown {
  margin-right: 2.24719%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25.5rem;
  height: 4.7rem; }
  .doctors-nav__dropdown:nth-child(3) {
    margin: 0; }
  .doctors-nav__dropdown::before {
    content: "";
    position: absolute;
    top: 2.1rem;
    right: 2.1rem;
    z-index: 9;
    width: .9rem;
    height: .6rem;
    background-image: url("../img/icon-dropdown-blue-closed.svg");
    background-position: center;
    background-size: contain; }

.doctors-nav__dropdown_open::before {
  background-image: url("../img/icon-dropdown-blue-open.svg"); }

.doctors-nav__dropdown-btn {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25.5rem;
  height: 4.7rem;
  padding: 0 1.8rem;
  text-align: left;
  background-color: #fff;
  border: 0.3rem solid #e5f1f4;
  border-radius: 2.5rem;
  cursor: pointer; }
  .doctors-nav__dropdown-btn:hover, .doctors-nav__dropdown-btn:focus {
    border-color: #c8e3e7; }
  .doctors-nav__dropdown-btn:focus {
    outline: none; }

.doctors-nav__dropdown_open .doctors-nav__dropdown-btn {
  z-index: 8;
  height: 5.3rem;
  border-color: transparent;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: 0rem -1.5rem 3.5rem rgba(0, 0, 0, 0.08);
  box-shadow: 0rem -1.5rem 3.5rem rgba(0, 0, 0, 0.08); }

.doctors-nav__dropdown_open .doctors-nav__dropdown-btn::after {
  background-image: url("../img/icon-dropdown-blue-open.svg"); }

.doctors-nav__dropdown-btn-header {
  display: inline-block;
  max-width: 19.5rem;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.doctors-nav__dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  overflow: hidden;
  -webkit-transform: translateY(0.6rem);
  -ms-transform: translateY(0.6rem);
  transform: translateY(0.6rem); }

.doctors-nav__dropdown_open .doctors-nav__dropdown-list {
  z-index: 5;
  background-color: #fff;
  border-radius: 1rem;
  border-top-left-radius: 0;
  -webkit-box-shadow: 0 0 3.5rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3.5rem rgba(0, 0, 0, 0.15); }

.doctors-nav__dropdown-item {
  display: none;
  padding: 2rem 2.2rem;
  white-space: nowrap;
  cursor: pointer; }

.doctors-nav__dropdown_open .doctors-nav__dropdown-item {
  display: block; }
  .doctors-nav__dropdown_open .doctors-nav__dropdown-item:hover {
    color: #00728f;
    background-color: #e5f1f4; }
  .doctors-nav__dropdown_open .doctors-nav__dropdown-item:first-child {
    padding-top: 1.1rem; }
  .doctors-nav__dropdown_open .doctors-nav__dropdown-item:last-child {
    padding-bottom: 1.5rem; }

.doctors-nav__tick {
  margin-left: 3.74532%;
  position: relative; }

.doctors-nav__tick-checkbox {
  display: none; }

.doctors-nav__tick-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-weight: bold; }
  .doctors-nav__tick-label::before {
    content: "";
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 2.3rem;
    height: 2.3rem;
    margin-right: .8rem;
    background-color: #fff;
    border: .3rem solid #d0d0d0;
    border-radius: .7rem;
    cursor: pointer; }

.doctors-nav__tick-label:hover::before {
  border-color: #4cbaca; }

.doctors-nav__tick-checkbox:checked + .doctors-nav__tick-label::before {
  background-color: #4cbaca;
  border: 0; }

.doctors-nav__tick-checkbox:checked + .doctors-nav__tick-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: .5rem;
  width: 1.3rem;
  height: 1rem;
  background-image: url("../img/icon-check.svg");
  background-position: center;
  background-size: contain;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.help {
  position: absolute;
  top: -50%;
  right: -2.6rem;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  cursor: pointer; }
  .help::after {
    content: "?";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.8rem;
    height: 1.8rem;
    font-size: .9rem;
    font-weight: bold;
    color: #9c988e;
    text-align: center;
    line-height: 1.8rem;
    background-color: #efeadb;
    border: 0.4rem solid #fff;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .help:hover::after {
    z-index: 5;
    color: #fff;
    background-color: #4cbaca; }

.help__info {
  position: absolute;
  bottom: 50%;
  left: 0;
  z-index: 3;
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 19.3rem;
  height: 10rem;
  padding: 1.2rem 1rem;
  font-size: 1.5rem;
  color: #424542;
  text-align: left;
  background-color: #fff;
  border-radius: .4rem;
  -webkit-box-shadow: 0 0 3.5rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3.5rem rgba(0, 0, 0, 0.15); }

.help:hover .help__info {
  display: block; }

.search-result__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 5rem;
  border-bottom: 0.3rem solid #4cbaca; }

.search-result__title {
  position: relative;
  z-index: 2;
  padding: 1.2rem 3rem;
  font-size: 2rem;
  font-weight: bold;
  -webkit-transition: color .3s ease-in;
  -o-transition: color .3s ease-in;
  transition: color .3s ease-in; }
  .search-result__title:hover {
    color: #4cbaca; }

.search-result__title_active,
.search-result__title_active:hover {
  color: #fff; }

.search-result__title_background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 14.5rem;
  height: 100%;
  background-color: #4cbaca;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
  -webkit-transition: left .3s ease-in;
  -o-transition: left .3s ease-in;
  transition: left .3s ease-in; }

.search-result__item {
  margin-bottom: 4rem;
  border-bottom: 1px dotted #00aabe; }
  .search-result__item:last-child {
    border: 0; }

.specialist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 4rem; }

.specialist-img__wrapper {
  width: 24.56929%; }

.specialist-img {
  display: block;
  width: 100%;
  height: auto; }

.specialist__about {
  width: 52.80899%;
  padding: 0 3%; }
  .specialist__about::after {
    content: "";
    display: block;
    width: 12.4rem;
    height: .4rem;
    background-color: #f0505a; }

.specialist__name {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 4.2rem;
  font-weight: normal; }

.specialist__specialities {
  width: 59.97001%;
  display: block;
  margin-bottom: 2rem;
  font-size: 2.2rem;
  font-weight: bold; }

.specialist__type {
  display: inline-block;
  margin-bottom: 3rem;
  padding: .9rem 2.5rem;
  padding-top: .4rem;
  font-weight: bold;
  color: #00aabe;
  background-color: #edf9fa;
  border-radius: 2.5rem; }

.specialist__type_expert {
  color: #f0505a;
  background-color: #fef3f3; }

.specialist__management {
  min-width: 19.47566%; }

.specialist__visit-text {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 2.2rem; }

.specialist__visit-price {
  display: block;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  font-weight: bold;
  color: #00aabe; }

@-webkit-keyframes increase {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes increase {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation: fadeIn .3s ease-in forwards;
  animation: fadeIn .3s ease-in forwards; }

.increase {
  -webkit-animation: increase .3s ease-in forwards;
  animation: increase .3s ease-in forwards; }

.specialist__favourites {
  margin-bottom: 4rem;
  padding: 0;
  font-size: 2rem;
  color: #00aabe;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in; }
  .specialist__favourites:focus {
    outline: none; }
  .specialist__favourites:hover {
    color: #000; }

.heart-icon {
  display: inline-block;
  width: 28px;
  height: 27px;
  margin-right: .8rem;
  vertical-align: middle;
  background: url("../img/spritesheet.png") -119px -10px;
  -webkit-transition: -webkit-transform .2s ease-in;
  transition: -webkit-transform .2s ease-in;
  -o-transition: transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in; }

.specialist__favourites:hover .heart-icon {
  -webkit-transform: scale(1.29);
  -ms-transform: scale(1.29);
  transform: scale(1.29); }

.specialist__favourites_active .heart-icon {
  background: url("../img/icon-heart-full.png") center; }
