.header {
  width: 100%;
  margin-bottom: 4.5rem;

  font-size: $font-middle;

  box-shadow: 0 1.5rem 1.5rem rgba($black, .15);
}

.header__top {
  @include width($prop: margin-left, $unit: %, $child: -65, $parent: $header-top);

  padding: 2.5rem 0;

  color: $black;
  line-height: 7rem; // по высоте логотипа. если меняется высота логотипа, нужно менять это значение!
}

.header__top-wrapper {
  @extend %container;
  @extend %clearfix;
}

.header__bottom {
  line-height: 4rem;

  background-color: $bg-blue;
}

.header__bottom-wrapper {
  @extend %container;
  @extend %clearfix;
}






