.logo-wrapper {
  @include width($prop: width, $unit: %, $child: 180, $parent: $header-top);
  @include width($prop: margin-right, $unit: %, $child: 40, $parent: $header-top);

  float: left;
}

.logo__link { display: block; }

.logo__img {
  display: inline-block;
  width: 100%;
  height: auto;

  vertical-align: middle;
}