.main-nav {
  @include width($prop: width, $unit: %, $child: 690, $parent: $header-top);

  float: left;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;

  font-weight: bold;
}

.main-nav__item-link {
  display: block;

  transition: color .1s ease-in;

  &:hover { color: #08c0de; }
}

.main-nav__item-link_active {
  color: #08c0de;

  &:hover { cursor: default; }
}