.profile-nav {
  @include width($prop: width, $unit: %, $child: 750, $parent: $container);

  float: left;
}

.profile-nav__list {
  display: flex;
  justify-content: space-between;

  font-weight: bold;
}

.profile-nav__item-link { color: $white; }

.profile__balance {
  @include width($prop: width, $unit: %, $child: 198, $parent: $container);

  float: right;
  padding: 0 2rem;

  color: $white;

  background-color: $darkblue;

  &::before {
    content: "";

    display: inline-block;
    width: 30px;
    height: 26px;

    vertical-align: middle;

    background: url("../img/spritesheet.png") -69px -10px;

    transform: translateY(-20%); // для доп. центровки
  }
}

.profile__balance-info {
  margin-left: 1.3rem;

  font-size: 2.5rem;
}